@charset "UTF-8";

body {
	font: "맑은 고딕";
	font-size: 17px;
		}

h2 {font-size: 25px;}
h3 {font-size: 20px;}

h1 {
	font-family: 궁서;
	font-size: 30px;
	letter-spacing: 15px;
		}
		

.internet {
		font-style: italic;
		font-weight: bold;
		color: #0000ff;
			}
.sea {
		font-style: italic;
		font-weight: bold;
		color: #ff0000;
			}
.history {
		text-decoration: underline;
		color: #00ff00;
			}
.milnet {
		font-weight: bold;
		color: #ff0000;
			}
.volume {text-decoration: underline;}


div {background-color: #d9d9d9;}
div p {text-indent: 30px;}



.good {
		font-weight: bold;
		color: #00ff00
			}
.act {
		font-style: italic;
		color: #0000ff
			}
.character {
		font-weight: bold;
		color: #ff0000;
			}






ul {list-style-type: square;}
ol {list-style-type: none;}




thead {background-color: #c8ebfa}

tbody tr:hover {background-color:#edd3ed}
tbody a:link {color: #000000; text-decoration: none;}
tbody a:visited {color: #000000;}
tbody a:hover {color: #0000ff; text-decoration: underline;}
tbody a:active {color: #0000ff; text-decoration: underline;}

.speed {text-align: right;}
.speed:before {content: "약 ";}
.speed:after {content: " (MB/초)";}



